altgraph==0.17
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
future==0.18.2
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pefile==2019.4.18
pip-autoremove==0.9.1
praw==7.1.0
prawcore==1.4.0
PyInstaller==3.6
pylint==2.5.3
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.15.0
toml==0.10.1
update-checker==0.17
urllib3==1.26.5
websocket-client==0.57.0
wrapt==1.12.1